@charset "UTF-8";

.temp_wrap {
	display: table;
	border: solid 1px gray;
	width: 1200px;
	position: absolute;
	top: 400px;
	background-color: #eee;
	table-layout: fixed;
}

#disPlayOri {
	display: table-cell;
	font-size: 24px;
	font-weight: bold;
}