@charset "UTF-8";

.search_wrap {
	display: table;
	border: solid 1px gray;
	width: 50%;
	min-width: 600px;
	position: absolute;
	top: 215px;
	background-color: white;
	table-layout: fixed;
	overflow: auto;
	padding: 10px;
}

#search_wrap_row1 {
	width:100%;
	display: table-row;
	font-size: 24px;
}

.search_wrap_cell1 {
	display:table-cell;
	white-space: nowrap;
}

#displayList {
	display : table-row;
	font-size : 16px;
	cursor: pointer;
}

.search_result {
	border-bottom: 1px solid #eee;
	}
.search_result:nth-last-child(1) {
	border-bottom:none;	
}
.search_result:hover {
	font-weight: bold;
	background-color: #ddd;
}

