@charset "EUC-KR";
	.favorites_total{
		width: 1500px; 
		padding: 40px 250px 160;	
		margin: auto;
	}
	
	.favorites_total_2{
 	    overflow: hidden; 
	    min-height: 380px;
	}

	.favorites_title{
	    padding-bottom: 16px;
    	border-bottom: 3px solid #222;

	}

	.favorites_title_2{
	    font-weight: 600;
	}
	
	.goShop{
		padding: 80px 0;
		text-align: center;
	}
	.goShop p{
		font-size: 13px;
	    letter-spacing: -.07px;
	    color: rgba(34,34,34,.5);
	}
	
	.goShop a{
	    border: 1px solid #d3d3d3;
   		color: rgba(34,34,34,.8);
	    font-size: 12px;
	    padding: 12px 14px;
        border-radius: 10px;
	}
	
	#favorites_list{
 	    display: flex; 
 		align-items: flex-start; 
	    padding: 20px 0 19px;
    	webkit-box-align: center;
/*     	align-items: center; */
    	border-bottom: 1px solid #ebebeb;
   		flex-direction: row;
	}
	#favorites_detail{
		argin-right: 30px;
	    width: 100%;
	    cursor: pointer;
	}
	
	#favorites_img{
	    width: 100px;
	    height: 100px;
	    border: 2px solid #ebebeb;
	    border-radius: 15px;
		margin-left: 20px;		
	}
	#favorites_info{
		width: 55%;
	}
	
	#name_en{
		margin-left: 10px;
	    margin-top: -13px;
	}
	#name_kor	{
		margin-left: 10px;
		font-weight: bold;
	}
	
	#favorites_buy{
	    margin-left: auto;
	    text-align: right;
		width: 21%;	
	}
	
	#buyBtn{
		height: 75px;
		text-align: left;
	 	background-color: #ef6253;
   	 	border-radius: 10px;
   	 	color: #fff;
		width: 210px;
		float: left;
	}
	
	#buyBtn2{
		width: 35%;
		height: 75px;
		border-right: 1px solid #11111136;
	    float: left;
	}
	
	#buyBtn2 strong{
		font-size: 18px;
    	position: relative;
		top: 25px;
		left: 20px;
	}
	
	#buyPrice{
		width:65%;
		height: 74px;
		float: left;
		margin-top: 14px;
		padding-left: 8px;
	}
		
	#price{
		font-weight: 700;
 		font-size: 20px;
 		color: white; 
 		display: table-header-group;;
	}
	#Price2{
 		color: white; 
 		font-size: 17px;
 		display: table-header-group;;
		
	}

	#del{
		color: #3d3d3d;
	    text-decoration: underline;
	}