#mypage_wrapper{

/* 	border : 1px solid black; */
	
	position : relative;
	display : flex;
	max-width : 1920px;
	width : 100%;
	height: 500px;
	margin : 0 auto;


}

#mypage_box{

/*     border: 1px solid red; */
    
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.myinfo {

/* 	border : 1px solid green; */
	
    position: relative;
    display: flex;
    width: calc(100%/4);
    height: 100%;
    margin: 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 0 10px 5px;
    border-radius: 20px;
    font-weight : bold;

}

.tradeinfo {

/* 	border : 1px solid green; */
	
    position: relative;
    display: flex;
    width: calc(100%/4);
    height: 100%;
    margin: 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 0 10px 5px;
    border-radius: 20px;
    font-weight : bold;

}

.shippinginfo {

/* 	border : 1px solid green; */
	
    position: relative;
    display: flex;
    width: calc(100%/4);
    height: 100%;
    margin: 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 0 10px 5px;
    border-radius: 20px;
    font-weight : bold;
}

.couponinfo {
	
/* 	border : 1px solid green; */

    position: relative;
    display: flex;
    width: calc(100%/4);
    height: 100%;
    margin: 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0 0 10px 5px;
    border-radius: 20px;
    font-weight : bold;

}

.mybtn {

	border: 1px dashed black;
	
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 0;
    font-size: 50px;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    transition : 1s;
    color : black;
    background : white;
    font-weight : bold;
}

.mybtn:hover {
	
	border-radius : 20px;
	background : black;
	color : white;
	transition : 0.3s;
	box-shadow : 0 0 10px 5px;
	font-weight : bold;
}